---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      all-dependencies:
        patterns:
          - "*"
  - package-ecosystem: npm
    directory: "/javascript"
    schedule:
      interval: "daily"
    groups:
      all-dependencies:
        patterns:
          - "*"
  - package-ecosystem: bundler
    directory: "/ruby"
    schedule:
      interval: "daily"
    groups:
      all-dependencies:
        patterns:
          - "*"